.card {
    max-width: 400px;
    margin: 2em auto;
    padding: 2em 2em;

}
.card-heading {
    margin: 1px 0 0;
}
.button {
    margin-top: 30px;
}
.red {
    margin-top: 7px;
    color: red;
}
.dispNone {
    display: none;
}

.dispBlock {
    display: block;
}


